<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hypershop_spikeperformance">
            <group id="settings">
                <field id="potato_crawler_after_cron" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run Potato Crawler after cronjob is done</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Runs the Potato Crawler after the cronjob is done.</comment>

                    <depends>
                        <field id="enabled">1</field>
                        <field id="cron_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
